<html>
	<head>
		<title>Tamar</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="nivo/themes/default/default.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="nivo/nivo-slider.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="outline">
				<img src="images/logo.png">
			<div id="header">
				<a href="#">Home</a>
				<a href="#">Cara Transaksi</a>
				<a href="#">Harga Jual</a>
				<a href="#">News</a>
				<a href="#">Program Simpan</a>
				<a href="#">Celengan Emas</a>
			</div>
			<div id="breadcrumbs">
				<img src="images/home.png"> &#8250;&#8250; <a href="#">News</a>
			</div>
			<div id="content">
				<div id="content_left">
					<div id="sidebar">
					<h2>Menu</h2>
						<a href="#">Sub Menu</a><br />
						<a href="#">Sub Menu</a><br />
						<a href="#">Sub Menu</a><br />
						<a href="#">Sub Menu</a><br />
					</div>
				</div>
				<div id="content_right">
					<h2>Lorem ipsum dolor sil Amet</h2>
					<div class="details">
						Penulis: Zuhdi Robbani | Jumat, 01 Februari 2013 | 06:03 WIB
					</div>
					<img src="images/walle.jpg" width="100%"/>
						<p align="justify">
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						</p><br />
						<p align="justify">
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						Lorem ipsum dolor sil amet lorem ipsum dolor sil amet. Lorem ipsum dolor sil amet lorem ipsum dolor sil amet.
						</p>
				</div>
				<div class="clear"></div>
			</div>
			<div id="links">
				<div id="links_left">
					<h3>Recent News</h3>
					<a href="#">Lorem ipsum</a><br />
					<a href="#">Dolor Sil Amet</a><br />
					<a href="#">Apsum ilour sir</a><br />
					<a href="#">Palka Raji Ayak</a>
				</div>
				<div id="links_center">
					<h3>Partner</h3>
					<a href="#">Lorem ipsum</a><br />
					<a href="#">Dolor Sil Amet</a><br />
					<a href="#">Apsum ilour sir</a><br />
					<a href="#">Palka Raji Ayak</a>
				</div>
				<div id="links_right">
					<h3>Community</h3>
					<a href="#">Lorem ipsum</a><br />
					<a href="#">Dolor Sil Amet</a><br />
					<a href="#">Apsum ilour sir</a><br />
					<a href="#">Palka Raji Ayak</a>
				</div>
				<div id="links_contact">
					<h3>Contact</h3>
					<img src="images/office.png">
					The Plaza Semanggi Lantai 2.<br />
					<img src="images/bblogo.png">&nbsp;22D124DC / 2174827C<br />
					<img src="images/phone.png">&nbsp;08131 444 0552 / 081 777 0165
				</div>
				<div class="clear"></div>
			</div>
			<div id="footer">
				&copy;2012-2013 Tamar Gold Shop . 
				<a href="#">About Us</a> . 
				<a href="#">Contact Us</a> . 
				<a href="#">Terms of Use</a> .
				<a href="#">Site Map</a>
			</div>
		</div>
	</body>
</html>