<html>
	<head>
		<title>Tamar</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="nivo/themes/default/default.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="nivo/nivo-slider.css" type="text/css" media="screen" />
	</head>
	<body>
		<div id="outline">
				<img src="images/logo.png">
			<div id="header">
				<a href="#">Home</a>
				<a href="#">Cara Transaksi</a>
				<a href="#">Harga Jual</a>
				<a href="#">News</a>
				<a href="#">Program Simpan</a>
				<a href="#">Celengan Emas</a>
			</div>
			<div id="preview">
				<div id="preview_left">
					<div id="wrapper">
						<div class="slider-wrapper theme-default">
							<div id="slider" class="nivoSlider">
								<img src="images/toystory.jpg" data-thumb="images/toystory.jpg" alt="" />
								<a href="http://dev7studios.com"><img src="images/up.jpg" data-thumb="images/up.jpg" alt="" title="This is an example of a caption" /></a>
								<img src="images/walle.jpg" data-thumb="images/walle.jpg" alt="" data-transition="slideInLeft" />
								<img src="images/nemo.jpg" data-thumb="images/nemo.jpg" alt="" title="#htmlcaption" />
							</div>
							<div id="htmlcaption" class="nivo-html-caption">
								<strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>. 
							</div>
						</div>
					</div>
					<script type="text/javascript" src="nivo/scripts/jquery-1.7.1.min.js"></script>
					<script type="text/javascript" src="nivo/jquery.nivo.slider.js"></script>
					<script type="text/javascript">
					$(window).load(function() {
						$('#slider').nivoSlider();
					});
					</script>
				</div>
				<div id="preview_right">
					<div class="new_price">Harga Jual Terbaru</div>
					<table>
						<tr>
							<th>Produk</th>
							<th>Harga Jual (Rp)</th>
							<th>Tanggal Update</th>
						</tr>
						<tr>
							<td><a title="order Logam Mulia 100gr" href="#">Logam Mulia 100gr</a></td>
							<td>58,000,000</td>
							<td>2 feb 2013</td>
						</tr>
						<tr>
							<td><a title="order Logam Mulia 100gr" href="#">Logam Mulia 100gr</a></td>
							<td>58,000,000</td>
							<td>2 feb 2013</td>
						</tr>
						<tr>
							<td><a title="order Logam Mulia 100gr" href="#">Logam Mulia 100gr</a></td>
							<td>58,000,000</td>
							<td>2 feb 2013</td>
						</tr>
						<tr>
							<td><a title="order Logam Mulia 100gr" href="#">Logam Mulia 100gr</a></td>
							<td>58,000,000</td>
							<td>2 feb 2013</td>
						</tr>
						<tr>
							<td><a title="order Logam Mulia 100gr" href="#">Logam Mulia 100gr</a></td>
							<td>58,000,000</td>
							<td>2 feb 2013</td>
						</tr>
						<tr>
							<td colspan="3" style="text-align:center;"><a href="#">Lihat Semua Harga...</a></td>
						</tr>
					</table>
					<div class="login"><a href="#">Login</a> <a href="#">Register</a></div>
				</div>
				<div class="clear"></div>
			</div>
			<div id="simulation">
				<div id="simulation_left">
					<img src="images/simulation.jpg">
				</div>
				<div id="simulation_right">
					<h3>Simulasi Cicilan Logam Mulia</h3>
					<form method="post" action="">
						<label>Produk</label><br />
						<select name="produk">
							<option value="">Pilih Produk</option>
							<option value="1">Logam Mulia Emas 100gr</option>
						</select><br /><br />
						<label>Jangka Waktu</label><br />
						<select name="produk">
							<option value="">Pilih Jangka Waktu</option>
							<option value="3">3 Bulan</option>
							<option value="6">6 Bulan</option>
							<option value="9">9 Bulan</option>
							<option value="10">10 Bulan</option>
							<option value="12">1 Tahun</option>
							<option value="24">2 Tahun</option>
							<option value="36">3 Tahun</option>
						</select><br /><br />
						<input type="submit" value="Simulasi" />
					</form>
				</div>
				<div class="clear"></div>
			</div>			
			<div id="links">
				<div id="links_left">
					<h3>Recent News</h3>
					<a href="#">Lorem ipsum</a><br />
					<a href="#">Dolor Sil Amet</a><br />
					<a href="#">Apsum ilour sir</a><br />
					<a href="#">Palka Raji Ayak</a>
				</div>
				<div id="links_center">
					<h3>Partner</h3>
					<a href="#">Lorem ipsum</a><br />
					<a href="#">Dolor Sil Amet</a><br />
					<a href="#">Apsum ilour sir</a><br />
					<a href="#">Palka Raji Ayak</a>
				</div>
				<div id="links_right">
					<h3>Community</h3>
					<a href="#">Lorem ipsum</a><br />
					<a href="#">Dolor Sil Amet</a><br />
					<a href="#">Apsum ilour sir</a><br />
					<a href="#">Palka Raji Ayak</a>
				</div>
				<div id="links_contact">
					<h3>Contact</h3>
					<img src="images/office.png">
					The Plaza Semanggi Lantai 2.<br />
					<img src="images/bblogo.png">&nbsp;22D124DC / 2174827C<br />
					<img src="images/phone.png">&nbsp;08131 444 0552 / 081 777 0165
				</div>
				<div class="clear"></div>
			</div>
			<div id="footer">
				&copy;2012-2013 Tamar Gold Shop . 
				<a href="#">About Us</a> . 
				<a href="#">Contact Us</a> . 
				<a href="#">Terms of Use</a> .
				<a href="#">Site Map</a>
			</div>
		</div>
	</body>
</html>